body {
  font-family: 'Segoe UI', sans-serif;
  background:rgb(8, 107, 183);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #0078d4;
}

select, input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #a30000;
}

#resultBox {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
